<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link type="text/css" href="/../css/style.less" rel="stylesheet/less">
    <link type="text/css" href="/../css/bootstrap.css" rel="stylesheet/less">
    <link type="text/css" href="/../css/flaticon/flaticon.css" rel="stylesheet/less">
    <script type="text/javascript" src="/../scripts/less.min.js"></script>
    <script type="text/javascript" src="/../scripts/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/../scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/../scripts/main.js"></script>
</head>
<body>
    <header>
        <h1>Description</h1>
    </header>
    <div class="container-fluid">
        <div class="detail-container">
            <div class="row">
                <div class="main-section">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <img class="poke-sprite" src="/../images/292.gif" />
                        <span class="poke-note">Click to change sprite</span>
                    </div>
                    <div class="poke-desc col-md-8 col-sm-8 col-xs-12">
                        <h1 class="col-md-8 col-sm-8 col-xs-12">#292 Shedinja</h1>
                        <div class="desc-icons col-md-4 col-sm-4 col-xs-12">
                            <div class="unmarked col-md-6 col-sm-6 col-xs-12">
                                <i class="ball-icon toggle-icon flaticon-utensil"></i>
                            </div>
                            <div class="unmarked col-md-6 col-sm-6 col-xs-12">
                                <i class="star-icon toggle-icon flaticon-favorite"></i>
                            </div>
                        </div>
                        <div class="phys-traits col-md-12 col-sm-12 col-xs-12">
                            0.8m, 1.2kg
                        </div>
                        <div class="short-desc col-md-12 col-sm-12 col-xs-12">
                            Shedinja's hard body doesn't move—not even a twitch. In fact, its body appears to be merely a hollow shell. It is believed that this Pokémon will steal the spirit of anyone peering into its hollow body from its back.
                        </div>
                        <div class="detail-types col-md-12 col-sm-12 col-xs-12">
                            <span class="ghost-type col-md-3 col-sm-3 col-xs-6">
                                Ghost
                            </span>
                            <span class="bug-type col-md-3 col-sm-3 col-xs-6">
                                Bug
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="info-section">
                    <div class="section-title">
                        <h1>General Information</h1>
                    </div>
                    <div class="section-body">
                        <div class="sub-section col-md-12 col-sm-12 col-xs-12">
                            <div class="left-side col-md-6 col-sm-6 col-xs-6">
                                Abilities
                            </div>
                            <div class="right-side col-md-6 col-sm-6 col-xs-6">
                                Wonder guard
                            </div>
                        </div>
                        <div class="sub-section col-md-12 col-sm-12 col-xs-12">
                            <div class="left-side col-md-6 col-sm-6 col-xs-6">
                                Hidden abilities
                            </div>
                            <div class="right-side col-md-6 col-sm-6 col-xs-6">
                                N/A
                            </div>
                        </div>
                        <hr class="div-line" />
                        <div class="sub-section col-md-12 col-sm-12 col-xs-12">
                            <div class="left-side col-md-6 col-sm-6 col-xs-6">
                                Location
                            </div>
                            <div class="right-side col-md-6 col-sm-6 col-xs-6">
                                Evolve Nincada with extra slot in party and spare Poké Ball
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="evolution-section">
                    <div class="section-title">
                        <h1>Evolution</h1>
                    </div>
                    <div class="section-body">
                        <div class="sub-section col-md-12 col-sm-12 col-xs-12">
                            <div class="left-side col-md-3 col-sm-3 col-xs-4">
                                <img class="poke-sprite" src="/../images/290.gif" />
                                <span class="poke-note">Click to change sprite</span>
                            </div>
                            <div class="middle-place col-md-7 col-sm-7 col-xs-4">
                                <div class="col-md-12 col-sm-12 col-xs-12">Nincada</div>
                                <div class="detail-types col-md-12 col-sm-12 col-xs-12">
                                    <span class="bug-type col-md-5 col-sm-5 col-xs-12">
                                        Bug
                                    </span>
                                    <span class="ground-type col-md-5 col-sm-5 col-xs-12">
                                        Ground
                                    </span>
                                </div>
                            </div>
                            <div class="right-side col-md-2 col-sm-2 col-xs-4">
                                #290
                            </div>
                        </div>
                        <hr class="div-line" />
                        <div class="sub-section col-md-12 col-sm-12 col-xs-12">
                            <div class="left-side col-md-3 col-sm-3 col-xs-4">
                                <img class="poke-sprite" src="/../images/292.gif" />
                                <span class="poke-note">Click to change sprite</span>
                            </div>
                            <div class="middle-place col-md-7 col-sm-7 col-xs-4">
                                Shedinja
                                <div class="detail-types col-md-12 col-sm-12 col-xs-12">
                                    <span class="ghost-type col-md-5 col-sm-5 col-xs-12">
                                        Ghost
                                    </span>
                                    <span class="bug-type col-md-5 col-sm-5 col-xs-12">
                                        Bug
                                    </span>
                                </div>
                            </div>
                            <div class="right-side col-md-2 col-sm-2 col-xs-4">
                                #292
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <h1>
            Icons made by <a href="http://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </h1>
    </footer>
</body>

</html>

